body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
  text-shadow: 0 0 10px #fff;
}
